* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --primario: #22255c;
    --fondo: white;
    --secundario: #0961c3;
    --rojo: #e93036;
    --verde: #8eb53e;
    --naranja: #fc8a2a;
}


/* estilos para index */

.principal {
    display: flex;
  justify-content: center;
    align-items: center;
    padding: 40px 0;
    height: auto

}

.imgPrincipal {
    position: relative;
    text-align: center;
}

.imgPrincipal img {
    max-width: 400px; 
    width: 100%;
    height: auto;
}


.tituloCfp{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.8);
}
.tituloCfp a {
    color: #ffffff;
    text-decoration: none;

}
.tituloCfp a:hover {
    color: #22255c; 
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

/*fin de los estilos Index*/

/* FORMATO NAV
nav{
    color: var(--primario);
    text-align: center;
    padding: 10px;
    background-color: var(--secundario);
    margin: 0 15px;
    font-weight: bold;
    font-size: larger;
    position: fixed;
    z-index: 1000;
    width: 100%;
}

nav a{
    color: var(--fondo);
    text-decoration: none;
    padding-left: 20px;
}
nav a:hover{
    text-decoration: underline;
}
*/

/* FORMATO  FOOTER
footer{
    background-color: var(--fondo);
    color: black;
    text-align: center;
}
*/

/* FORMATO  HEADER
footer{
    background-color: var(--fondo);
    color: black;
    text-align: center;
}
*/

/* FORMATO GALERIA
#galeria img {
    margin: 10px;
    border: 2px solid #ccc;
    height: 200px;
    width: 300px;
}

#galeria video {
    margin: 10px;
    border: 2px solid #ccc;
    height: 200px;
    width: 300px;
}


#galeria {
    background-color: var(--fondo);
    color: var(--primario);
}

#galeria img:hover{
    transform: scale(1.5);
}

#galeria video:hover{
    transform: scale(1.5);
}

.galeriaimagenes{
    flex-direction: row;
}
*/


