* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --primario: #22255c;
    --fondo: white;
    --secundario: #0961c3;
    --rojo: #e93036;
    --verde: #8eb53e;
    --naranja: #fc8a2a;
}



/* FORMATO NAV
nav{
    color: var(--primario);
    text-align: center;
    padding: 10px;
    background-color: var(--secundario);
    margin: 0 15px;
    font-weight: bold;
    font-size: larger;
    position: fixed;
    z-index: 1000;
    width: 100%;
}

nav a{
    color: var(--fondo);
    text-decoration: none;
    padding-left: 20px;
}
nav a:hover{
    text-decoration: underline;
}
*/

/* FORMATO  FOOTER
footer{
    background-color: var(--fondo);
    color: black;
    text-align: center;
}
*/

/* FORMATO  HEADER
footer{
    background-color: var(--fondo);
    color: black;
    text-align: center;
}
*/

/* FORMATO GALERIA
#galeria img {
    margin: 10px;
    border: 2px solid #ccc;
    height: 200px;
    width: 300px;
}

#galeria video {
    margin: 10px;
    border: 2px solid #ccc;
    height: 200px;
    width: 300px;
}


#galeria {
    background-color: var(--fondo);
    color: var(--primario);
}

#galeria img:hover{
    transform: scale(1.5);
}

#galeria video:hover{
    transform: scale(1.5);
}

.galeriaimagenes{
    flex-direction: row;
}
*/


/*inicio formulario contactos*/
form {
            background: var(--fondo);
            max-width: 500px;
            width: 100%;
            padding: 50px;
            border-radius: 16px;
            color: var(--primario);
}
.required {
            color: var(--rojo);
}
fieldset{
          display:grid;
}
.btns{
            display: flex;
            gap: 12px;
            margin-top: 32px;
        }
        
        button {
            flex: auto;
            padding: 14px 24px;
            border: none;
            border-radius: 8px;
            font-size: 15px;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.3s ease;
        }
.btn-secundario:hover {
            background: var(--secundario)
            border-color: var(var(--primario))
}